.header {
  position: relative;
  background-color: #af6767;
  border-bottom: 1px solid #eee;
  padding: 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2rem;
}
